<div class="container">
  <div class="row">
    <a class="col pb-5 mb-4" name="rules"></a>
  </div>
  <div class="row">
    <div class="col mb-3">
      <h1>Regulament General Magic Forest</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-5">
      <ol class="pl-4">
        <li>
          Participanţii la evenimentele private au obligaţia de a respecta
          indicaţiile personalului Magic Forest.
        </li>
        <li>
          Este strict interzisă distrugerea şi/sau deteriorarea oricăror
          echipamente, dotări sau amenajări din incinta Magic Forest.
        </li>
        <li>
          Orice acţiune de distrugere a bunurilor, echipamentelor şi/sau a
          locurilor special amenajate aparţinand Magic Forest va fi imputată
          celui responsabil, iar valoarea va fi stabilită conform situaţiei din
          contabilitatea societaţii.
        </li>
        <li>
          Accesul la Magic Forest este permis doar în cadrul orelor de program
          afişate.
        </li>
        <li>
          Este interzis comportamentul agresiv fizic sau verbal la adresa
          celorlalţi participanţi sau a personalului din echipa Magic Forest.
        </li>
        <li>
          Aruncarea gunoaielor se face obligatoriu în spaţiile special
          amenajate.
        </li>
        <li>
          Fumatul este permis doar la parterul clădirii, în locurile special amenajate şi semnalizate.
        </li>
        <li>
          Pentru satisfacerea nevoilor fiziologice este obligatorie folosirea
          exclusivă a toaletelor.
        </li>
        <li>
          Nu este permis accesul cu animale de companie în incinta Magic Forest.
        </li>
        <li>
          Prin citirea prezentului regulament, participantul îşi exprimă acordul
          privind posibilitatea includerii sale în fotografii pentru ilustrare
          şi suport comercial; prin acceptarea acestor condiţii, Magic Forest
          este protejat de orice revendicare cu privire la dreptul la imagine.
        </li>
        <li>
          Este strict interzisă introducerea/folosirea/abandonarea în perimetrul
          Magic Forest a oricărui obiect ascuţit sau casant, ce poate provoca
          răni.
        </li>
        <li>
          Sunt interzise: filmarea, fotografierea, realizarea de reportaje şi
          interviuri în scop comercial în incinta Magic Forest fără acord în
          scris din partea unui reprezentant al Magic Forest.
        </li>
        <li>
          Sunt interzise vânzarea, cumpărarea, consumul sau posesia de droguri
          sau alte substanţe interzise prin lege în interiorul Magic Forest.
        </li>
        <li>
          Magic Forest nu este răspunzător de pierderea sau furtul obiectelor
          lăsate nesupravegheate, atât în parcare cât şi în incinta Magic
          Forest.
        </li>
        <li>
          Magic Forest nu este răspunzător pentru eventualele accidente
          survenite şi prejudicii cauzate terţelor persoane ca urmare a
          nerespectării de către participanţi a indicaţiilor personalului Magic
          Forest şi a prezentului regulament.
        </li>
        <li>
          Accesul la facilităţile Magic Forest este permis doar în prezenţa şi
          sub supravegherea personalului Magic Forest.
        </li>
        <li>
          Accesul în Magic Forest se face doar doar în ȘOSETE. Pe pavimentul colorat soft este interzis accesul
          cu tocuri sau alte obiecte de încălțăminte care pot deteriora
          suprafața acestuia.
        </li>
        <li>
          Accesul în locație se face doar în ȘOSETE. Toți papuceii, copiilor și
          adulților, se lasă în holul locului de joacă. Accesul pe zona cu
          paviment soft se va face doar în şosete.
        </li>
        <li>
          Accesul la Magic Forest implică acceptarea integrală a prezentului
          Regulament şi respectarea regulilor.
        </li>
        <li>Pentru urgenţe medicale apelaţi 112.</li>
      </ol>

      <h4>IMPORTANT – Magic Forest ÎȘI REZERVĂ URMĂTOARELE DREPTURI:</h4>
      <ol>
        <li>
          Să excludă din parc participanţii care încalcă regulile de securitate
          şi disciplină impuse, precum şi participanţii care prezintă un
          comportament inadecvat care ar afecta desfăşurarea normală a
          activităţilor;
        </li>
        <li>
          Să NU permită intrarea în parc a persoanelor aflate sub influenţa
          băuturilor alcoolice şi a substanţelor cu efect halucinogen.
        </li>
        <li>
          Să limiteze accesul liber în Magic Forest în timpul desfăşurării
          anumitor evenimente speciale.
        </li>
      </ol>

      <h4>Tiroliana</h4>
      <h5>Regulament</h5>
      <ol>
        <li>
          Reprezintă alunecarea pe o coardă fixată între două puncte, situate la
          o distanță de 12m și o anumită diferentă de nivel, unul față de
          celălalt.
        </li>
        <li>
          Copilul aflat pe tiroliană va ține cu ambele mâini lanțul de susținere
          al tirolianei până la punctul de aterizare sau până când este prins de
          un membru al echipe Magic Forest la zona de aterizare, se așeaza cu
          fundul pe șezătorul tirolianei și încrucisează picioarele pentru
          siguranță, iar alunecarea se produce prin intermediul unui scripete
          fixat pe coarda superioară.
        </li>
        <li>
          Eliberarea de adrenalină și senzația unică de zbor constituie
          "deliciul" celor care încearcă aceastș activitate.
        </li>
        <li>
          Utilizarea tirolianei are loc doar în prezența unui adult și are loc
          după instrucțiunile afișate pe panou.
        </li>
        <li>
          Accesul copiilor la tiroliană în lipsa personalului Magic Forest se
          face cu responsabilitatea unică a părinților acestoara, care sunt
          obligați să supravegheze copilul care folosește tiroliana.
        </li>
        <li>
          Tiroliana se foloseste de câte un singur copil, pe rând, și este
          interzis accesul altor copii in zona de slide pe parcursul utilizării
          tirolianei de către un alt copil.
        </li>
        <li>
          Orice incident care apare în lipsa respectării regulamentului de
          utilizare a tirolianei absolva Magic Forest de orice responsabilitate.
        </li>
      </ol>

      <a class="d-block pb-5 mb-4" name="covid-19-measures"></a>
      <h4>Măsuri anti COVID-19</h4>
      <p>Pentru siguranța dumneavoastră am implementat următoarele măsuri:</p>
      <ul>
        <li>dezinfecție anti COVID-19;</li>
        <li>dezinsecție, deratizare;</li>
        <li>
          dezinfectare zilnică a tuturor elementelor prezente în spațiu cu
          produse omologate;
        </li>
        <li>dezinfectanți în zona de intrare, băi, recepție;</li>
        <li>covoraș dezinfectant la intrare;</li>
        <li>buline de distanțare în zonele cu tendința de aglomerare;</li>
        <li>
          reducerea numărului de jucării cu păstrarea elementelor ce pot fi
          dezinfectate zilnic;
        </li>
        <li>înlocuire veselă IKEA cu produse de unică folosință;</li>
        <li>
          măsurarea zilnică a temperaturii angajaților la intrarea în tură;
        </li>
        <li>
          folosirea măștii de protecție și a mănușilor de unică folosință de
          către angajați.
        </li>
      </ul>
    </div>
  </div>
</div>
