<section class="container">
    <div class="row">
      <a class="col pb-5 mb-4" name="contact"></a>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="mb-4">Contact</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-5 align-self-end">
        <address>
          <p class="mb-0 semi-bold">Adresa Magic Forest:</p>
          <p class="mb-0">
            Cluj-Napoca, cartier Someșeni, Str. Traian Vuia, Nr. 89, Et 2, Cod 400387, clădirea Star Center, intrarea prin
            dreapta.
          </p>
          <p class="mb-0">
            <span class="semi-bold">Telefon: </span>
            <a class="font-weight-normal" href="tel:+40745202510">0745 202 510</a>
          </p>
        </address>
        <h6>Program de funcționare:</h6>
        <p class="mb-0">Luni - Duminică: <strong>10 - 20</strong>, pe baza de programare.</p>
        <p class="mb-0">
          Acces limitat pe durata rezervării spațiului pentru evenimente private.
        </p>
        <p>
          Deschidem pentru vizite, evenimente, joacă, vizitare locație - doar pe bază de programare, făcută cu minim o zi
          înainte, la numărul <a class="font-weight-normal" href="tel:+40745202510">0745 202 510</a>, în intervalul orar
          specificat mai sus. <br />
          Multumim, echipa Magic Forest
        </p>
        <app-funds></app-funds>
      </div>
      <div class="col-xs-12 col-lg-7">
        <div class="card mb-4 shadow-sm">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2731.981952861411!2d23.656137715602178!3d46.784959979138755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490b5418a6d5b5%3A0x436401762fe5fa9c!2sMagic%20Forest%20-%20Spatiu%20de%20joaca%20%2F%20party%20pentru%20copii%20si%20parinti!5e0!3m2!1sro!2sro!4v1574548256039!5m2!1sro!2sro"
            height="621"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  