<div class="container">
  <div class="row">
    <a class="col pb-5 mb-4" name="packs"></a>
  </div>
  <div class="row">
    <div class="col mb-3">
      <h1 class="mb-0">Pachete și Servicii</h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <h3>Informații utile</h3>
      <ul>
        <li>
          Pentru confirmarea rezervării și blocarea datei evenimentului privat
          se va achita, numerar, o
          <strong>taxă de rezervare</strong> de <strong>300 lei</strong>, sumă
          care <strong>nu se rambursează</strong>. Data se poate
          <strong>bloca maxim 3 zile</strong> pentru achitarea taxei de
          rezervare. Prin rezervarea fermă, beneficiarul se obligă să respecte
          regulamentul intern pe toată durata desfășurării evenimentului.
          <strong
            >Data nu se consideră rezervată fără achitarea taxei de
            rezervare.</strong
          >
        </li>
        <li>
          Regulamentul complet este disponibil
          <a routerLink="/rules" routerLinkActive="active">aici</a>.
        </li>
        <li>
          Copiii care nu participă la activități și stau împreună cu părinții (0
          ani), nu vor fi luați în considerare la calculul final al sumei de
          plată, dar se vor considera la totalul numărului de persoane, ce nu
          poate depăși numărul de 80, conform legislației în vigoare.
        </li>
        <li>
          Durata unei închirieri este de 3 ore.
          Intrarea în locație se face cu 15 minute înaintea orei de început.
          Eliberarea sălii se face în maxim 15 minute după scurgerea perioadei
          alocate. (Pentru a oferi aceleași condiții de igienă și amenajare a
          sălii fiecărui client, avem nevoie să respectați acest interval de
          plecare). Venirea si plecarea in afara acestui interval se taxeaza la
          tarif de ora suplimentara.
        </li>
        <li>
          Beneficiarul este responsabil de eventualele distrugeri provocate de
          către invitații proprii la evenimentul din incinta locației.
          Elementele distruse de către adulții sau copiii prezenți la eveniment
          se vor achita de către beneficiar la finalul evenimentului. Se va
          suporta un cuantum de 75% din valoarea de achiziție a elementului
          distrus.
        </li>
        <li>
          Accesul în TOT locul de joacă se face DOAR în șosete. Cine nu are
          șosete, poate achiziționa din interior.
        </li>
        <li>
          În incinta locației nu pot fi folosite artificii, tunuri de confetti,
          orice alte elemente cu flacără sau care produc mizerie.
        </li>
        <li>
          Este INTERZIS consumul de băuturi alcoolice, aducerea de băuturi și
          alimente preparate în casă, fără data de valabilitate și certificate
          de conformitate.
        </li>
        <li>
          Prin închirierea locației, clientul se obligă să respecte toate
          măsurile necesare pentru prevenirea răspândirii SARS-CoV-2 și a
          tuturor măsurilor în vigoare la data dasfășurării evenimentului.
        </li>
        <li>
          Posibilități de plată: CASH sau CARD. Se poate emite factură, la
          cerere, în decurs de 3-5 zile lucrătoare (se trimite ulterior prin
          email sau WhatsApp).
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-gradient-light py-5">
  <div class="container">
    <p><b>Ofertă valabilă în intervalul 01.01.2026 - 30.06.2026</b></p>
    
    @for (package of packages; track package.id) {
      <a class="d-block pb-5 mb-4" [name]="package.id"></a>
      <div class="card">
        <div class="card-header" [ngClass]="[package.colorClass, package.textClass]">
          <b>{{ package.title }}</b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-lg-auto order-lg-2">
              <h5 class="card-subtitle mb-1 text-muted">Prețuri</h5>
              <div class="row align-items-center mb-3">
                <div class="col pr-0">
                  <h6 class="card-subtitle mb-3 text-muted">Luni - Joi</h6>
                  <h6 class="card-subtitle text-muted">Vineri - Duminică</h6>
                </div>
                <div class="col-auto">
                  <h5 class="card-title mb-2">{{ prices[package.priceIndex].week }} lei</h5>
                  <h5 class="card-title">{{ prices[package.priceIndex].weekend }} lei</h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg order-lg-1">
              <ul class="pl-4">
                <li>Tarifele de weekend se aplică și în cazul sărbătorilor legale, zile libere legale, 14 februarie, 1 martie, 8 martie, 1 Iunie, Rusalii, etc...</li>
                <li>
                  Număr persoane -
                  <b>{{ prices[package.priceIndex].copii }} copii și {{ prices[package.priceIndex].adulti }} adulți</b>
                  <a routerLink="/party-list" fragment="explicatie"><sup>(1)</sup></a>
                </li>
                <li>Pentru fiecare adult în plus se achită <b>{{ package.adultExtraFee }} lei</b></li>
                <li>Pentru fiecare copil în plus se achită <b>{{ package.childExtraFee }} lei</b></li>
                @for (feature of package.features; track $index) {
                  <li>
                    @if (isFeatureObject(feature)) {
                      {{ feature.text }}
                      @if (feature.link) {
                        <a [routerLink]="feature.link.routerLink" [fragment]="feature.link.fragment">
                          <sup>{{ feature.link.text }}</sup>
                        </a>
                      }
                      {{ feature.text2 }}
                    } @else {
                      {{ feature }}
                    }
                  </li>
                }
                <li>Apă plată - 4l</li>
                <li>Cafea, ceai</li>
                <li>Tatuaje lavabile pentru copii. Maxim 2 buc/copil</li>
                <li>Jocuri și activități pentru copii</li>
                <li>Modelare baloane. 1 balon per copil</li>
                <li>Arcadă de baloane multicoloră</li>
                <li>Durată închiriere spațiu pentru eveniment private - 3 ore</li>
                <li>Exclusivitatea spațiului, tot etajul 2</li>
                <li>Sală igienizată, dezinfectată și aranjată conform normelor în vigoare</li>
                <li>Veselă frumos colorată, pentru copii</li>
                <li>Farfurii, pahare, șervețele, tacâmuri, boluri, frapieră pentru adulți</li>
                <li>Cifra vârstei scrisă pe panou</li>
                <li>Nume sărbătorit scris pe panou</li>
                <li>Mașina de baloane, 15 minute</li>
                <li>
                  Invitații virtuale personalizate din modelele disponibile<a routerLink="/party-list" fragment="explicatie"><sup>(2)</sup></a>
                  Invitațiile cu personaje ce nu se regăsesc în lista pot fi făcute la cerere. 50 lei/model nou
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    }

    <h5 class="my-4" name="explicatie">Explicație:</h5>
    <ol>
      <li>
        Capacitate maximă 35 copii. Se iau în considerare toți copiii prezenți, între 1 și 14 ani.
      </li>
      <li>
        Modelele disponibile pentru invitațiile virtuale (se trimit prin
        WhatsApp) sunt: MICKEY, MINNIE, UNICORN, LADY BUG, MICA SIRENA,
        CURCUBEU, PISICUTA, PRINTESE, FLORICELE, FLUTURASI, BUFNITA, FULGER
        MCQUEEN, TRANSFORMERS, PIRAT, NINJAGO, MINECRAFT, HOTWHEELS, FOTBAL,
        SPATIU, JUNGLA, ANIMALE MARITIME, PATRULA CATELUSILOR, CAMIONUL LEO,
        URSULET, FROZEN, ROBOTEI, ROBLOX, FIXIKI, BALLERINA, HARRY POTTER,
        STEVEN UNIVERSE, PRINTESA AURORA, PRINTESA SOFIA, 101 DALMATIENI, OLAF,
        GIRAFA, SONIC, HULK, CIRESE, LOL, TRENUL THOMAS, STAR WARS, CAPRIOARA,
        BLUEY si BINGO, SUPER MARIO, DOCTORITA PLUSICA, TINKERBELL, POMPIERUL
        SAM, SONIC.
      </li>
      <li>
        Pizza copii: PIZZA MARGHERITTA și PIZZA CU SUNCĂ. Pizza inclusă în
        pachete se comandă doar de la colaboratorul locației. Pizza se achită
        direct la livrator și se scade la finat din prețul pachetului.
      </li>
      <li>
        Preț pizza conform pachetului: PACHET 2 – 140LEI; PACHET 4 – 260 LEI;
        PACHET 5 – 320 LEI.
      </li>
    </ol>
  </div>
</div>

<div class="container">
  <div class="row mb-4 mt-5">
    <div class="col">
      <h4>Elemente Extra:</h4>
      <ul>
        <li>
          <strong>Prelungire inchiriere</strong> – 400 lei pentru o oră extra
          (inainte sau dupa cele 3 ore stabilite pentru party). Orele extra
          trebuie anuntate la semnarea contractului de inchiriere. Taxarea se
          face în intervale de 15 minute. Aceste tarife se aplică și la
          depășirea celor 15 minute alocate pentru eliberarea sălii.
        </li>
        <li>Animatoare extra, 3 ore – 200 lei</li>
        <li>
          Decor personalizat, conform cu personajele invitației/tortului
          (pahare, farfurii, șervețele, baloane folie, coifuri, suflatori cu
          tematica tortului – se anunță cu 2 săptămâni înainte de party) – 150
          lei
        </li>
        <li>Pinata – 200 lei. Include și dulciuri pentru toți copiii.</li>
        <li>Vânătoare de comori – 200 lei</li>
        <li>
          Cutia cu surprize (Punchbox) conține o jucărie per copil. Ajunge pentru 16 copii – 200 lei
        </li>
        <li>Un Extra Sărbătorit - 50 lei</li>
        <li>
          Invitație extra - separată pentru al doilea, al treilea sau mai mulți
          copii - 50 de lei
        </li>
        <li>Ghirlandă baloane personalizate – 300 lei</li>
        <li>Aranjare sală cu decor adus de client – 100 lei/oră</li>
      </ul>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <h3>Facilități Magic Forest:</h3>
      <ul>
        <li>Spațiu generos, 300mp</li>
        <li>Masă de billiard, Darts și Airhokey</li>
        <li>Scaune pentru copii mici</li>
        <li>
          Zona igienă bebe/copil: măsuță schimbat, pampers, șervetele umede.
        </li>
        <li>Uscator de păr, gel dezinfectant.</li>
        <li>Cuptor cu microunde, frigider, aparat de cafea.</li>
        <li>Locuri de parcare în curte.</li>
      </ul>
    </div>
  </div>
</div>
