$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$primary:       #0cc0e8;
$secondary:     #1e5c59;
$success:       #6ebd42;
$info:          $gray-300;
$warning:       #fdd40a;
$danger:        #de238f;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$font-size-base: 1.125rem;
$line-height-base: 4/3;
$headings-color: $secondary;
$font-family-sans-serif: 'brandon-grotesque', sans-serif;
$nav-link-font-weight: 500;
$link-decoration: none;