<div class="container pb-5">
    <div class="row">
      <a class="col pb-5 mb-4" name="after-school"></a>
    </div>
    <div class="row">
      <div class="col mb-3">
        <h1>After School 'Magic Forest'</h1>
      </div>
    </div>
  
    <h4>Program si Taxe</h4>
    <h5>Taxe</h5>
    <ol class="mb-1">
      <li>Inscriere – 100 lei</li>
      <li>Before School – 08:00-12:00 – 900 lei/luna</li>
      <li>After School – 12:00-16:00 – 900 lei/luna</li>
      <li>After School Program Lung – 12:00-18:00 – 1100 lei/luna</li>
      <li>Masa Zilnica – 20 lei/zi</li>
      <li>Transport – 15 lei/zi</li>
    </ol>
    <p>*Reducere 20% al doilea frate.</p>
  
    <h5>Optional (grupe de minim 5 copii)</h5>
    <p>ATELIERE: 30 lei/ore/copil (se stabilesc saptamanal)</p>
    <p>SPORT: 30 lei/ore/copil (instructor profesionist)</p>
  
    <h5>OFERTA INCHIRIERE LOCATIE – toti copiii clasei si cadrul didactic al clasei (ca supraveghetor)</h5>
    <h6>Grup de 10 copii</h6>
    <ol>
      <li>Inscriere – 0 lei</li>
      <li>Program Scurt – 08:00-16:00 – 999 lei/luna/copil</li>
      <li>Program Mediu – 08:00-17:00 – 1099 lei/luna/copil</li>
      <li>Program Lung – 08:00–18:00 – 1199 lei/luna/copil</li>
      <li>Masa zilnica – daca se doreste</li>
      <li>Transport – Copiii sunt adusi si luati de catre parinti</li>
      <li>
        Supraveghetor – O persoana din personalul propriu al spatiului, care ajuta in timpul pauzelor dintre cursuri si
        dupa terminarea acestora, face joculete, citeste povesti, organizeaza activitati.
      </li>
      <li>Acces in tot spatiul. Apa, ceai, (cafea – pentru cadrul didactic), vesela, dezinfectanti, etc... – INCLUSE.</li>
    </ol>
  
    <h6>Grup de 15 copii</h6>
    <ol>
      <li>Inscriere – 0 lei</li>
      <li>Program Scurt – 08:00-16:00 – 799 lei/luna/copil</li>
      <li>Program Mediu – 08:00-17:00 – 899 lei/luna/copil</li>
      <li>Program Lung – 08:00–18:00 – 999 lei/luna/copil</li>
      <li>Masa zilnica – daca se doreste</li>
      <li>Transport – Copiii sunt adusi si luati de catre parinti</li>
      <li>
        Supraveghetor – O persoana din personalul propriu al spatiului, care ajuta in timpul pauzelor dintre cursuri si
        dupa terminarea acestora, face joculete, citeste povesti, organizeaza activitati.
      </li>
      <li>Acces in tot spatiul. Apa, ceai, (cafea – pentru cadrul didactic), vesela, dezinfectanti, etc... – INCLUSE.</li>
    </ol>
  
    <h6>Grup de 16+ copii</h6>
    <ol>
      <li>Inscriere – 0 lei</li>
      <li>Program Scurt – 08:00-16:00 – 699 lei/luna/copil</li>
      <li>Program Mediu – 08:00-17:00 – 799 lei/luna/copil</li>
      <li>Program Lung – 08:00–18:00 – 899 lei/luna/copil</li>
      <li>Masa zilnica – daca se doreste</li>
      <li>Transport – Copiii sunt adusi si luati de catre parinti</li>
      <li>
        Supraveghetor – O persoana din personalul propriu al spatiului, care ajuta in timpul pauzelor dintre cursuri si
        dupa terminarea acestora, face joculete, citeste povesti, organizeaza activitati.
      </li>
      <li>
        Acces in tot spatiul (incalzire in pardoseala). Apa, ceai, (cafea – pentru cadrul didactic), vesela,
        dezinfectanti, etc... – INCLUSE.
      </li>
    </ol>
  
    <p>
      *Taxele se achita integral la inceputul lunii. Pentru o lipsa de 2 saptamani sau mai mult se taxeaza doar jumatate
      din suma in urmatoarea luna.
    </p>
    <p>*Oferta INCHIRIERE LOCATIE se aplica pentru grupuri de minim 15 copii.</p>
  </div>
  